@charset 'UTF-8';

@import "partials/variables";
@import "partials/article";
@import "partials/article_details";
@import "partials/chart";
@import "partials/control";
@import "partials/footer";
@import "partials/fonts";
@import "partials/nav";
@import "partials/navbar_collapse";
@import "partials/pannel";
@import "partials/select";
@import "partials/slider";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  // background: url("../img/logo_old2.png") top left no-repeat;
  // background-size: cover;
  // box-shadow: inset 10px 10px 100px #000;
  margin: 0;
  padding: 0;
  // &:before {
  //   display: block;
  // }
  font-size: 12px;
}

.cover {
  padding: 5% 20%;
  box-shadow: inset 0 0 200px #000;
}

h1,
h2,
h3 {
  text-align: center;
  font: 16px sans-serif;
}

.title {
  padding: 1rem 3rem;
  margin: 0;
  position: relative;
  font-size: 20px;
  z-index: 2;
  word-wrap: break-word;
  display: block;
  background: $lightgreen;
  height: 70px;
  cursor: pointer;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

  &--article {
    background: lighten($lightgreen, 5%);
    z-index: 2;
    height: auto;
    padding: 1rem 0;
    font-size: 15px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    // clip-path: initial;
    a {
      color: black;
    }
    &:hover {
      a {
        color: $darkblue;
      }
    }
  }

  &--single {
    background: lighten($lightgreen, 5%);
    z-index: 2;
    height: auto;
    padding: 1rem 0;
    font-size: 15px;
    clip-path: none;
    a {
      color: black;
    }
    &:hover {
      a {
        color: $darkblue;
      }
    }
  }

  &:hover {
    background: lighten($sparkgreen, 15%);
    color: $darkblue;
    font-style: italic;
  }

  @media (max-width: 450px) {
    font-size: 15px;
    height: 80px;
  }
}

p {
  white-space: pre-wrap;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;

  box-shadow: inset 10px 10px 100px #000;
  overflow: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 940px) {
    max-width: 1100px;
    float: none;
  }
}

footer {
  font-size: 12px;
  background: $black;
  clear: both;
  position: relative;
  z-index: 3;
}

.footer,
.push {
  height: 50px;
}

.hide {
  opacity: 0;
}

.hide-editor {
  position: absolute;
  left: -9999px;
}

.content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
  margin-top: auto;
  margin-bottom: auto;

  background: url(../img/vintage.png);

  &--logo {
    @media (min-width: 850px) {
      display: grid;
      // height: 90vh;

      grid-template-columns: 6fr 1.2fr;
      grid-template-rows: 473px 150px;
      grid-gap: 0.5rem;
    }
  }
}

.aside {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.toggle-editor {
  text-align: center;
  width: 110px;
  background: $lightgreen;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;

  label {
    span {
      padding: 0.5rem;
      display: block;
    }

    input {
      position: absolute;
      top: -20px;
    }

    input:checked + span {
      background: lighten($sparkgreen, 15%);
      color: $darkblue;
      font-style: italic;
      width: 110px;
      border-radius: 4px;
      border: 1px solid #d0d0d0;
    }
  }
  @media (min-width: 850px) {
    margin-bottom: 0;
  }

  @media (min-width: 980px) {
    margin: 0;
    margin-bottom: 1rem;
  }
}

#top-btn {
  position: fixed;
  bottom: 60px;
  float: right;
  right: 5%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100, 100, 100);
  padding: 0.5px;
  border-radius: 4px;
  z-index: 1;

  &:hover {
    background-color: #7dbbf1;
  }
}
