@font-face {
  font-family: "averia-sans";
  src: url("../fonts/averiasans-regular.ttf");
}
.averia-sans {
  font-family: "averia-sans";
  // letter-spacing: -0.2rem;
}
@font-face {
  font-family: "colombia";
  src: url("../fonts/Colombia-Rp0DV.ttf");
}
.colombia {
  font-family: "colombia";
  letter-spacing: 0;
}
@font-face {
  font-family: "copasetic";
  src: local("../fonts/Copasetic-DGY9.ttf") format("truetype");
}
.copasetic {
  font-family: "copasetic";
  // letter-spacing: 1.2rem;
}
@font-face {
  font-family: "fashion-victim";
  src: local("../fonts/Fashionvictim-4ZyD.ttf") format("truetype");
}
.fashion-victim {
  font-family: "fashion-victim";
  // letter-spacing: -1.6rem;
}
@font-face {
  font-family: "freeds";
  src: url("../fonts/FreedsRegular-g8yq.ttf");
}
.freeds {
  font-family: "freeds";
  // letter-spacing: 1rem;
}
@font-face {
  font-family: "josefin-sans";
  src: url("../fonts/JosefinSansRegular-x3LYV.ttf");
}
.josefin-sans {
  font-family: "josefin-sans";
  letter-spacing: 0;
}
@font-face {
  font-family: "ministory";
  src: url("../fonts/MiniStory-7BYB4.ttf");
}
.ministory {
  font-family: "ministory";
  letter-spacing: 0;
}
@font-face {
  font-family: "ministory-bold";
  src: url("../fonts/MiniStoryBold-vmKm9.ttf");
}
.ministory-bold {
  font-family: "ministory-bold";
  letter-spacing: 0;
}
@font-face {
  font-family: "odin-light";
  src: url("../fonts/OdinRoundedLight-Bgyw.ttf");
}
.odin-light {
  font-family: "odin-light";
  letter-spacing: 0;
}
@font-face {
  font-family: "simvoni";
  src: url("../fonts/Simvoni-gxm5Y.ttf");
}
.simvoni {
  font-family: "simvoni";
  letter-spacing: 0;
}

.logo-text {
  color: "#333";
  text-transform: uppercase;
}

#fonts {
  margin-left: auto;
  margin-right: auto;
}

.fonts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: center;

  .font {
    display: block;
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    @media (max-width: 930px) {
      // margin-right: initial;
    }

    &__text {
      padding: 1rem 1.2rem;
      display: block;
      background: $lightgreen;
      padding-left: 10px;
      width: 100px;
      height: 60px;
      cursor: pointer;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      &:hover {
        background: lighten($sparkgreen, 15%);
        color: $darkblue;
        font-style: italic;
      }

      @media (max-width: 930px) {
        width: auto;
        padding: 1rem 1rem;
      }
    }
  }
}
