footer {
  .nav {
    display: flex;
    flex-wrap: wrap;

    height: auto;

    @media (max-width: 450px) {
      align-items: center;
      justify-content: center;
    }

    @media all and (min-width: 850px) {
      display: flex;
      flex-direction: row;
    }

    &__item {
      &--copyright {
        font-size: 14px;
        // flex: 1 1 auto;

        @media (max-width: 450px) {
          flex: 1 1 auto;
        }

        a {
          position: relative;
          width: 100%;
          display: flex;
        }
      }
    }
  }
}
