.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  background: $black;
  height: 105px; // keep height on font change

  @media all and (max-width: 850px) {
    height: auto; // keep height on font change - navs are hidden
  }

  &__section {
    display: flex;
    &:hover,
    &--active {
      background: none;
    }

    &--collapse {
      @media all and (min-width: 850px) {
        // display: none;
      }
    }

    &--menu {
      display: flex;
      flex-direction: column;
      @media all and (min-width: 850px) {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    background: $black;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;

    @media all and (max-width: 1200px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &--toggler {
      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      -webkit-appearance: button;
      overflow: visible;

      @media all and (min-width: 850px) {
        display: none;
      }
    }

    svg {
      width: 40px;
      height: 40px;
      transition: all 0.2s;
      fill: white;
      margin-bottom: 1rem;

      @media all and (max-width: 850px) {
        display: none;

        width: 30px;
        height: 30px;
      }
    }

    &:hover,
    &--active {
      border-bottom-color: $lightgreen;
      border-right-color: $lightgreen;
      svg {
        transform: scale(1.2);
      }
    }

    &--logo {
      padding: 0.5rem 2rem;
      &:hover {
        svg {
          transform: none;
        }
      }
      svg {
        width: 45px;
        height: 45px;
        margin: 0;
      }

      @media all and (max-width: 1200px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}
